<footer class="container-fluid py-2 px-0">
	<div class="row justify-content-around">
		<div class="col-3 pl-3">
			<div class="row justify-content-center align-items-center">
				<img src="./../../assets/images/email.png" class="img-fluid w-25 col-4" alt="gmail">
				<h4 class="text-white col-8">sergio.molea@gmail.com</h4>
			</div>
		</div>
		<div class="col-3 pl-3">
			<div class="row justify-content-center align-items-center">
				<img src="./../../assets/images/instagram.png" class="img-fluid w-25 col-4 cursor-pointer" alt="instagram" (click)="openSocials($event)">
				<h4 class="text-white col-8">@sergio_molea</h4>
			</div>
		</div>
		<div class="col-3 pl-3">
			<div class="row justify-content-center align-items-center">
				<img src="./../../assets/images/linkedin.png" class="img-fluid w-25 col-4 cursor-pointer" alt="linkedin" (click)="openSocials($event)">
				<h4 class="text-white col-8">sergio-molea</h4>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<h5 class="col-4 text-white text-center">Sergio Molea - 2020</h5>
	</div>
</footer>